In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# comment
# this is another comment
# here is one more
# the puond sign is the important thing

In [3]:
## this is also a comment
'''
   here is a 
   multiline
   comment.
   this is useful for
   large amounts of text.
'''

'\n   here is a \n   multiline\n   comment.\n   this is useful for\n   large amounts of text.\n'

In [4]:
# the Python 'print'statement

# for simple output
print("Hello World!")
print("Here is something else to print.")
print("Here is something in 'quotes' and some numbers: 1234567")

Hello World!
Here is something else to print.
Here is something in 'quotes' and some numbers: 1234567

In [5]:
# a "string" is bunch alphanumeric data
print("This is a string")

This is a string

In [7]:
# an integer is a number not in quotes
print(12345)
print("12345")

12345
12345

In [8]:
# you can combine pieces of data together
print("Hello World",123)
print(123, "Somewhere st.", "Nova Scotia", 456)

Hello World 123
123 Somewhere st. Nova Scotia 456

In [9]:
# special characters
print("Hello\nWorld!") # \n is a newline character

Hello
World!

In [10]:
# demonstrating different newline styles
print("Sale Price:", 12345)
print("Sale Price:", end="")
print(12345)

Sale Price: 12345
Sale Price:12345

In [14]:
# getting input from the user
user_input = input("Enter a number:")

Enter a number: 1234

In [ ]:
# more about variables

# naming convention
# keep variable names as descrptive as possible
# snake_case
# keep the Length of a variable name to 1,2, or 3 words (max)

# examples of good variable names 
user_name = "John Doe" # a string variable
cost = 123.45 # a decimal variable (flooting point value)
small_number = 3 # an integer variable
binary_number = 0b101011010 # a binary integer
hexadecimal = 0xABCD1234 # a hexadecimal integer
big_number = 1234567890 # huge interger

# examples of bad variable names
# my name = "John" # can't have spaces in the variable name
# 123 = 123 can't a number as a variable name
# :) = "smiley" # can't use special characters other than underscore
#aVariableName = "stuff" # this is "camelCasing" and is used in other languages
# x = "hello" # make variable names descriptive!

In [22]:
day = 19
month = "September"
year = "2025"
print(month, day,",", year)
#using an f-string instead
print(f"{month} {day}, {year}")

September 19 , 2025
September 19, 2025

In [2]:
first_name = input ("Enter your first name:")
last_name = input ("Enter your last name:")
print(f"{first_name}.{last_name}@nscc.ca")

Enter your first name: Kim
Enter your last name: HK

Kim.HK@nscc.ca

In [6]:

# more about strigs

# dfine a string variable
text = "Hello World"

# concatenation of strings
"concatenate" + "strings"

text = "Hello" + " World"
text = text + "!"
text += "!" 
print(text)

Hello World!!

In [10]:
# combine strings and numbers
# address = 5865 + "Leed St" # ERROR! Can't add a number to a string
address = "5865" + " Leeds St"
address = str(5865) + " Leeds St"
address = f"{5865} Leeds St"
print(address)

5865 Leeds St

In [11]:
#combine strings and decimals
price_amount = 123.45
price_string = "Price: " + str(price_amount)
print(price_string)

Price: 123.45

In [14]:
# combine strings and calculations
answer = "Sum = " + str(1) + str(2)
answer = "Sum = " + str(1 + 2)
answer = f"Sum = {1+2}"
print(answer)

Sum = 3

In [22]:
# formatted strings 
"{},{}".format("Hello", "World")
"{0},{1}".format("Hello","World")
"{1},{0}".format("Hello","World")
"{} + {} = {}".format(1,2,(1+2))
"{0} {0} {0} {1} {1} {1}".format("Hello", "World")

'Hello Hello Hello World World World'

In [24]:
# substrings
"cat dog mouse"[4:7] # range where [stars:end+1]
text = "Mary had a little lamb"
text[18:22]

'lamb'

In [25]:
# replication operator
"-" * 30

'------------------------------'

In [31]:
# more on data types

# string
# - a string of letters and numbers
# - anything surrounded by double quotes
type("Hello World")

# integer
# - a whole number (no decimal points)
# -not in quotation marks
type(123)

# floot
# - a number with a decimal point
# - all decimal numbers can't be represented (e.g. pi)
# - more represents an approximation than an actual number
1232312413254546256.12224354234364367687823
type(123.45)

# boolean
# - True or False
type(False)
type(True)

bool

In [37]:
# change data types 

# convert to an integer
int("123") # success!
# int("123a") # error...
str("123123.12123")

# convert to a string
str(False)
str(123)
str(123.123)

# convert to/from a float
float("12.34")
float(123)
int(1.23)
# float("asdasd") # error...

# convert to/from a boolean
bool("hello")
bool("")
bool(123)
bool(0)
bool(1.23)
bool(0.0)

False

In [38]:
# declaring a variable with a specific data type 
answer = 123.45
type(answer)
answer = int(123.45)
type(answer)

int

In [42]:
# getting input from the user of a particular data type
user_input = input("Enter a name")
type(user_input)
user_number = int(user_input)
type(user_number)
user_number = int(input("Enter a number"))
type(user_number)

Enter a name 123
Enter a number 123

int

In [48]:
# math........
2 + 2
4 - 2
5 * 2
10 / 4 # decimal division
10 // 4 # integer division
10 % 4 # modulus division (remainder of a long division)
5 % 2
5 ** 2 # exponents
25 ** 0.5 # square root

5.0

In [51]:
# BEDMAS
(1 + 2) * 2
(1 + 2) * (3 - 4)
(1 + 2) ** 2 /4 * 3 + 2 -1

7.75

In [1]:
# assignment operators
a = 1 + 2
a = a + 1
a += 1
a = a * 2
a *= 2
a = a / 2
a /= 2
print(a)

5.0

In [3]:
# math library
import math 
math.pi
math.sqrt(25)
math.floor(5 / 2)
math.floor(12.3455)
math.ceil(12.3455)
math.floor(1.6)
math.ceil(1.3)
round(12.3455, 2)

12.35

In [60]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']