In [1]:
print("Hello World!")

Hello World!

In [2]:
usernames = [ "john","jacob","jingle","hymer","scheitt","jill"]
print(usernames[1])

jacob

In [4]:
username1 = "john"
username2 = "jacob"
username3 = "jingle"
username4 = "hymer"
username5 = "schmitt"

print(username1)
print(username2)
print(username3)
print(username4)
print(username5)

john
jacob
jingle
hymer
schmitt

In [3]:
username1 = "john"
username2 = "jacob"
username3 = "jingle"
username4 = "hymer"
username5 = "schmitt"

for i in range(1,6):
    print(f"username{i}")

username1
username2
username3
username4
username5

In [5]:
username1 = "john"
username2 = "jacob"
username3 = "jingle"
username4 = "hymer"
username5 = "schmitt"

print(username1)
print(username2)
print(username3)
print(username4)
print(username5)

for i in range(1,6):
    print(f"username{i}")

john
jacob
jingle
hymer
schmitt
username1
username2
username3
username4
username5

In [5]:
username1 = "john"
username2 = "jacob"
username3 = "jingle"
username4 = "hymer"
username5 = "schmitt"

print(username1)
print(username2)
print(username3)
print(username4)
print(username5)

for i in range(1,6):
    print(eval(f"username{i}"))

john
jacob
jingle
hymer
schmitt
john
jacob
jingle
hymer
schmitt

In [7]:
#나의 정리
username1 = "Alice"
username2 = "Bob"

name = "username1"      # 문자열, 즉 "변수 이름"일 뿐임
print(name)              # 출력: username1
print(eval(name))        # 출력: Alice  변수의 변수의 값을 가져오는 개념

username1
Alice

In [ ]:
"print ('hello world')" # "print( 'hello world')"는 그냥 문자열, ""안에 내용은 코드처럼 보이지만 아니라 텍스트!!

# eval("print ('hello world')")

"print ('hello world')"

In [ ]:
# "print ('hello world')"

eval("print ('hello world')")  # eval()은 괄호안의 문자열을 실제 파이썬 코드처럼 실행-즉 "print('hello world')" 라는 문자열을 print('hello world')코드로 바꿔서 실행한거

# does work... but a BIG security hole- 동작실행가능 유연하지만 보안취약점이 있다 예시로 악성코드가 시스템 명령을 실행할수 있어서 
# 예시 eval("p" + "rint"+ "('he" + "llo')")

hello world

In [1]:
# basic 
usernames = [ "john","jacob","jingle","hymer","scheitt","jill"]
print(usernames)

# for i in range(1,7):  # 영역이 잘못됨, 리스트에서 영역 0~4임, index값을 가짐0부터, 그러나 range는 1~5를 나타냄
#    print(usernames[i])

# "5" is a "magic number"
for i in range(6):
    print(usernames[i])

['john', 'jacob', 'jingle', 'hymer', 'scheitt', 'jill']
john
jacob
jingle
hymer
scheitt
jill

In [19]:
# how many items are in the list?
usernames = [ "john","jacob","jingle","hymer","scheitt","jill","joe"]
len(usernames)

7

In [ ]:
# iterating through list
usernames = [ "john","jacob","jingle","hymer","scheitt","jill"]

# one way
for i in range(len(usernames)):   # 좀더 효율적으로 하는 방법 설명전
    print(usernames[i])

for username in usernames:        # 좀 더 쉽고 효율적, a list specific way shorter and easier to read/use
    print(username)

john
jacob
jingle
hymer
scheitt
jill
john
jacob
jingle
hymer
scheitt
jill

In [23]:
usernames = [ "john","jacob","jingle","hymer","scheitt","jill"]

i = 0
while (i < len(usernames)):
    print(usernames[i])
    i += 1

john
jacob
jingle
hymer
scheitt
jill

In [27]:
# 모니카 질문- for 문 안에서 어떻게 i가 range의 값들과 연될되는 
# 선생님 설명 예시
for i in range(6):
    print(i)

numbers = [ 0,1,2,3,4,5]
for i in numbers:
    print(i)

for number in numbers:
    print(number)

# range(n)은 0부터 n-1까지의 연속된 숫자 생성, for i in range(n)은 range에서 숫자를 하나씩 꺼내서 i에 담고 반복,
# [0,1,2,3,4,5] range(6)와 같은 결과(단, 리스트는 메모리에 실제로 저장됨), 둘다 0에서 5까지 순서대로 반복함

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5

In [ ]:
grades = [12,56,27,78,42,59]
for grade in grades:    # for grade in range grades: 라고 쓰지 않기 range의  의미는 이미 포함되어있어서
    print(grade)

12
56
27
78
42
59

In [ ]:
grades = ["12","56","27","78","42","59"]
for grade in grades:    
    print(grade)             #list에서 ""로 문자열로 되어있지만 숫자처럼 사용가능

12
56
27
78
42
59

In [34]:
# a list can consist of anything
items = [2, 2.21, "number", True, 1 < 4, [1,2,3]]
items

[2, 2.21, 'number', True, True, [1, 2, 3]]

In [ ]:
# what if I don't know what the items are? 입력을 계속 받아 리스트에 저장하는 프로그램
data = [0,0,0,0,0,0,0,0,0,0,0]
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1

print(data)

['34', '12', '56', '78', '100', '0', '0', '0', '0', '0', 0]

In [40]:
data = [0,0,0,0,0]    # 만약에 5자리밖에 없는데 6개를 입력하면 오류가 남
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1

print(data)

IndexError: list assignment index out of range

In [ ]:
data = [0,0,0,0,0]    # 만약에 5자리밖에 없는데 6개를 입력하면 오류가 남
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1
    if i >= 5:
        break      # brak를 걸어준다

print(data)

['1', '2', '3', '4', '5']

In [ ]:

data = [0] * 100  # 복제연산자 사용 케이스
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1
    if i >=len(data):
        break    

print(data)

['1', '2', '3', '4', '5', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [44]:
# creat a list of known size, but not known values
data = [0] * 10
data

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [6]:
# code a list with the values  1 through 10
values = [0] * 10   # 0이 10개 들어있는 리스트생성
for i in range(1, 11):   # 1부터 10까지 반복
    values[i-1]= i       # i번째 숫자를 리스트의 (i-1) 위치에 저장
values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# 위에 식을 좀더 간결히
values = list(range(1,11))
values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
# creat a list with the values 2 through 20 by 2s
values = list(range(2,21,2))
values

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# fill an empty list
empty =[]    # 빈 리스트 생성
for i in range(5):   # 0부터 4까지 반복
    empty.insert(0,i) #각 i값을 리스트 맨 앞(0번째)에 삽입(차례대로들어오면서 뒤로밀림)- 그래서 숫자가 거꾸로 나옴 -특정자리에 넣어라: insert
empty.insert(0, "first")  # 'first'를 맨 앞에 삽입
empty.insert(1, "second") #'second'를 인덱스 1에 위치에 삽입
empty

['first', 'second', 4, 3, 2, 1, 0]

In [ ]:
# append to a list - 리스트에 값을 순서대로 추가하는 방법 끝에 추가함
empty =[]
empty.append("first")
empty.append("second")
empty.append("third")
empty

['first', 'second', 'third']

In [3]:
# remove from list
fruit = ["apple", "banana", "tomato","blueberry"]
# del fruit[2]
fruit.remove("tomato")
fruit

['apple', 'banana', 'blueberry']

In [ ]:
# remove from list
fruit = ["apple", "banana", "tomato","blueberry"]
# del fruit[2]
# fruit.remove("tomato")
fruit.pop() # removes from end of list - 인덱스를 지정하지 않으면 기본적으로 마지막항목 여기서는 블루베리가 삭제됨
fruit #- 여기서 fruit가 한번 더 붙는 이유는 위에 코드가 명령이기에 명령다음 프린트의 의미로 붙음

['apple', 'banana', 'tomato']

In [ ]:
# slicing a list- 리스트의 일부만 선택하거나 결합해서 새로운 리스틀르 만드는 방법
fruit = ["apple", "banana", "tomato","blueberry"]
fruit[-4] # start from right-side (-1)
fruit[0:2] # take elements 0 threough 1 (tomato is 2)
fruit[0:-2] # take elements 0 through 1 (tomato is -2)
fruit[0:2] + fruit[-1:] 
fruit = fruit[0:2] + fruit[-1:] # removes tomato
fruit

In [ ]:
# slicing a list- 리스트의 일부만 선택하거나 결합해서 새로운 리스틀르 만드는 방법
fruit = ["apple", "banana", "tomato","blueberry"]
fruit[-4] # start from right-side (-1)   여기에서 fruit를 붙이지 않는것은 딱 저 질문에 대한 답만을 위해서

'apple'

In [7]:
# slicing a list- 리스트의 일부만 선택하거나 결합해서 새로운 리스틀르 만드는 방법
fruit = ["apple", "banana", "tomato","blueberry"]
fruit[0:2] # take elements 0 threough 1 (tomato is 2)

['apple', 'banana']

In [ ]:
fruit = ["apple", "banana", "tomato","blueberry"]
fruit[0:-2] # take elements 0 through 1 (tomato is -2)
# [start:end]구조 0에서 시작 -2의 값인 토마토앞까지

['apple', 'banana']

In [10]:
# slicing a list- 리스트의 일부만 선택하거나 결합해서 새로운 리스틀르 만드는 방법
fruit = ["apple", "banana", "tomato","blueberry"]
fruit[0:2] + fruit[-1:] # -1:에서 :을 뒤에 붙이면 그부분만 가져온다는 뜻, 붙이지 않고 fruit[-1]은 문자열로 생각해서 오류남, 즉 리스트로 다루려고 :을 붙임
# fruit가 없을시 계산 결과만 보여주고 밑에 코드처럼 마지막에 fruit가 있으면 그 결과를 변수에 다시 저장한 값이 됨

['apple', 'banana', 'blueberry']

In [ ]:
fruit = ["apple", "banana", "tomato","blueberry"]
fruit[0:2] + fruit[-1:]  # 여기서는 계산만 한번 했고 저장하지 않음 그래서 밑에
fruit                    # fruit이 처음 값 그대로 보여줌

['apple', 'banana', 'tomato', 'blueberry']

In [ ]:
# slicing a list- 리스트의 일부만 선택하거나 결합해서 새로운 리스틀르 만드는 방법
fruit = ["apple", "banana", "tomato","blueberry"]
fruit = fruit[0:2] + fruit[-1:] # removes tomato # =이 등호를 넣어서 덮어씌움
fruit

['apple', 'banana', 'blueberry']

In [ ]:
# find an index- 특정위치를 찾는법, 인덱스번호를 찾아줌
fruit = ["apple", "banana", "tomato","blueberry"]
fruit.index("tomato")

2

In [ ]:
# lists can contain anythig- 리스트안에 여러가지 자료형이 섞여 있을 수 있다
misc_stuff = ["apple",3 ,3.14159, True,[1,2,[4,5,6]]] # 중첩리스트 
misc_stuff[4][2][1] # 4: 4번째 자료에서 2: 2의 값에서 1: 첫번째 값

5

In [ ]:
# more lists withing lists
# a 2 dimensional (2D) list -리스트안에 리스트
tic_tac_toe = [
    ['X', 'O', 'X'], # tic_tac_toe[0]
    ['O', 'X', 'O'], # tic_tac_toe[1]
    ['X', 'O', 'X']  # tic_tac_toe[2]
]
tic_tac_toe[1]

['0', 'X', '0']

In [ ]:
# more lists withing lists
# a 2 dimensional (2D) list -리스트안에 리스트
tic_tac_toe = [
    ['X', 'O', 'X'], # tic_tac_toe[0]
    ['O', 'X', 'O'], # tic_tac_toe[1]
    ['X', 'O', 'X']  # tic_tac_toe[2]
]
tic_tac_toe[1][1]

'X'

In [17]:
# more lists withing lists
# a 2 dimensional (2D) list -리스트안에 리스트
tic_tac_toe = [
    ['X', 'O', 'X'], # tic_tac_toe[0]
    ['O', 'X', 'O'], # tic_tac_toe[1]
    ['X', 'O', 'X']  # tic_tac_toe[2]
]
tic_tac_toe[1][1] = 'O' # 두번째행 두번째 열의 값을 o로 변경 the center 'X'
tic_tac_toe

[['X', 'O', 'X'], ['O', 'O', 'O'], ['X', 'O', 'X']]

In [19]:
# tic tac toe game
tic_tac_toe = [
    [' ', ' ', ' '], # tic_tac_toe[0]
    [' ', ' ', ' '], # tic_tac_toe[1]
    [' ', ' ', ' ']  # tic_tac_toe[2]
]

for row in tic_tac_toe:
    print(f"{row}|")

[' ', ' ', ' ']|
[' ', ' ', ' ']|
[' ', ' ', ' ']|

In [20]:
tic_tac_toe = [
    [' ', ' ', ' '], # tic_tac_toe[0]
    [' ', ' ', ' '], # tic_tac_toe[1]
    [' ', ' ', ' ']  # tic_tac_toe[2]
]

for row in tic_tac_toe:
    for col in row:
        print(f"{col}|", end="")
    print()

 | | |
 | | |
 | | |

In [18]:
tic_tac_toe = [
    ['X', 'O', 'X'], # tic_tac_toe[0]
    ['O', 'X', 'O'], # tic_tac_toe[1]
    ['X', 'O', 'X']  # tic_tac_toe[2]
]
tic_tac_toe[1][1] = 'O' # 두번째행 두번째 열의 값을 o로 변경 the center 'X'
tic_tac_toe

for row in tic_tac_toe:
    for col in row:
        print(f"{col}|", end="")
    print()

X|O|X|
O|O|O|
X|O|X|

In [ ]:
tic_tac_toe = [
    [' ', ' ', ' '], # tic_tac_toe[0]
    [' ', ' ', ' '], # tic_tac_toe[1]
    [' ', ' ', ' ']  # tic_tac_toe[2]
]
pos =1
for row in tic_tac_toe:
    for col in row:
        print(f"{pos}|", end="")
        pos += 1
    print()

1|2|3|
4|5|6|
7|8|9|

In [23]:
tic_tac_toe = [
    [' ', ' ', ' '], # tic_tac_toe[0]
    [' ', ' ', ' '], # tic_tac_toe[1]
    [' ', ' ', ' ']  # tic_tac_toe[2]
]
pos =1
for row in tic_tac_toe:
    for col in row:
        print(f"{pos}|", end="")
        pos += 1
    print()


choice = int(input("Pick a number: "))
row = choice // 3
print(f"row = {row}")

1|2|3|
4|5|6|
7|8|9|
row = 3

In [24]:
tic_tac_toe = [
    [' ', ' ', ' '], # tic_tac_toe[0]
    [' ', ' ', ' '], # tic_tac_toe[1]
    [' ', ' ', ' ']  # tic_tac_toe[2]
]
pos =1
for row in tic_tac_toe:
    for col in row:
        print(f"{pos}|", end="")
        pos += 1
    print()


choice = int(input("Pick a number: "))
row = (choice - 1) // 3
col = choice - row * 3 - 1
print(f"col = {col}")

1|2|3|
4|5|6|
7|8|9|
col = 0

In [25]:
tic_tac_toe = [
    [' ', ' ', ' '], # tic_tac_toe[0]
    [' ', ' ', ' '], # tic_tac_toe[1]
    [' ', ' ', ' ']  # tic_tac_toe[2]
]
pos =1
for row in tic_tac_toe:
    for col in row:
        print(f"{pos}|", end="")
        pos += 1
    print()


choice = int(input("Pick a number: "))
row = (choice - 1) // 3
col = choice - row * 3 - 1
tic_tac_toe[row][col] = 'X'

tic_tac_toe

1|2|3|
4|5|6|
7|8|9|

[['X', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [ ]:
tic_tac_toe = [
    [' ', ' ', ' '], # tic_tac_toe[0]
    [' ', ' ', ' '], # tic_tac_toe[1]
    [' ', ' ', ' ']  # tic_tac_toe[2]
]

while True:
    pos =1
    for row in tic_tac_toe:
        for col in row:
            print(f"{pos}|", end="")
            pos += 1
        print()


    choice = int(input("Pick a number ( 0 to exit): "))
    if choice == 0:
        break

    row = (choice - 1) // 3
    col = choice - row * 3 - 1

    tic_tac_toe[row][col] = 'X'

1|2|3|
4|5|6|
7|8|9|
1|2|3|
4|5|6|
7|8|9|

In [ ]:
tic_tac_toe = [
    ['1', '2', '3'], # tic_tac_toe[0]
    ['4', '5', '6'], # tic_tac_toe[1]
    ['7', '8', '9']  # tic_tac_toe[2]
]

while True:
    for row in tic_tac_toe:
        for col in row:
            print(f"{col}|", end="")
        print()


    choice = int(input("Pick a number ( 0 to exit): "))
    if choice == 0:
        break

    row = (choice - 1) // 3
    col = choice - row * 3 - 1

    tic_tac_toe[row][col] = 'X'

1|2|3|
4|5|6|
7|8|9|
1|2|3|
4|X|6|
7|8|9|
1|2|3|
X|X|6|
7|8|9|

In [30]:
tic_tac_toe = [
    ['1', '2', '3'], # tic_tac_toe[0]
    ['4', '5', '6'], # tic_tac_toe[1]
    ['7', '8', '9']  # tic_tac_toe[2]
]

user ='X'
while True:
    pos =1
    for row in tic_tac_toe:
        for col in row:
            print(f"{col}|", end="")
        print()
    print()


    choice = int(input("Pick a number( 0 to exit): "))
    if choice == 0:
        break

    row = (choice - 1) // 3
    col = choice - row * 3 - 1

    tic_tac_toe[row][col] = user

    if user == 'X':
        user = '0'
    else:
        user = 'X'

1|2|3|
4|5|6|
7|8|9|

1|2|3|
4|X|6|
7|8|9|

0|2|3|
4|X|6|
7|8|9|

In [ ]:
cities = ['Halifax', 'Dartmouth', 'Vancouver', 'Toronto']
cities[-1:-3:-1] # third parameter is amount to increase/decreas by 
cities[::2] # = [0::2] - 0에서 시작 2칸씩 뛰어서
cities = cities[::-1] # go through entire list backwords
cities

['Toronto', 'Vancouver', 'Dartmouth', 'Halifax']

In [13]:
cities = ['Halifax', 'Dartmouth', 'Vancouver', 'Toronto']
cities[-1:-3:-1]

['Toronto', 'Vancouver']

In [15]:
cities = ['Halifax', 'Dartmouth', 'Vancouver', 'Toronto']

cities[::2]

['Halifax', 'Vancouver']

In [ ]:
numbers = [10,20,30,40,50]
ten =numbers[0]
twenty = numbers[1]
thirty = numbers[2]


# destructuring 
ten, twenty, thirty, *rest = numbers # *:남은 요소를 리스트로 묶어담아라의미
ten, twenty, thirty, rest

(10, 20, 30, [40, 50])

In [42]:
even_nums = [2, 4, 6, 8, 10]

# reverse a list
even_nums[::-1]   # won't modify the original list
even_nums.reverse() # modifies the original list
even_nums

# sort a list
random_nums = [ 1, 5, 3, 8, 2, 9]
sorted(random_nums) # dosen't modify the original list
random_nums.sort() # modifies the original list
random_nums

# check for value in list
random_nums.index(3)  # only works if the value exists in the list
3 in random_nums # returns True or False, if the value is in the list
4 not in random_nums # returns True or False, if the value is NOT in the list

# get unique values
non_unique = [1,1,1,2,2,2,3,3,3,3,3,4]
list(set(non_unique))


# change other things to lists
list(range(1, 11, 2))
list("Hello World!")

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [ ]:
even_nums = [2, 4, 6, 8, 10]

# reverse a list
even_nums[::-1]   # won't modify the original list 역순복사본, 자체는 변하지않음
even_nums.reverse() # modifies the original list 원본을 직접 변경
even_nums

[10, 8, 6, 4, 2]

In [ ]:

# sort a list
random_nums = [ 1, 5, 3, 8, 2, 9]
sorted(random_nums) # dosen't modify the original list 새리스트를 반환(원본유지)
random_nums.sort() # modifies the original list 원본을 제자리에서 정렬
random_nums

[1, 2, 3, 5, 8, 9]

In [ ]:
# check for value in list
random_nums.index(3)  # only works if the value exists in the list
3 in random_nums # returns True or False, if the value is in the list
4 not in random_nums # returns True or False, if the value is NOT in the list
# index 값에 3이 있는지 확인 , 포함여부로 True/False, 또는 미포함여부로 True/False 보여줌

In [ ]:
# get unique values
non_unique = [1,1,1,2,2,2,3,3,3,3,3,4]
list(set(non_unique))   # set은 집합 중복제거, 순서가 섞일수 있음

[1, 2, 3, 4]

In [20]:

# change other things to lists
list(range(1, 11, 2)) # 1부터 10까지 2씩 증가 1,3,5,7,9

[1, 3, 5, 7, 9]

In [21]:
list("Hello World!") # 각 문자로 분해

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [ ]:
# strings as lists
str = list("Hello World!")
l = str[0:5]    # 글자를 쪼개서 리스트로 변환, 0~4까지 슬라이싱 리스트로출력

str = "Hello World!"   # 문자열 str
s = str[0:5]

print(f" l = {type(l)}, s ={type(s)}")

 l = <class 'list'>, s =<class 'str'>

In [ ]:
str = list("Hello World!") #리스트이기에 변경가능
l = str[0:5]
l[0] = "J" # allowed as lists are "mutable"변경가능
print(f"l = {l}")
print(f"l = {type(l)}, s = {type(s)}")

l = ['J', 'e', 'l', 'l', 'o']
l = <class 'list'>, s = <class 'str'>

In [ ]:
str = "Hello World!" # 문자열은 변경불가능
s = str[0:5]
s[0] = "J" # not allowed as strings are "immutable" 이코드틑 문자열이기에 바꿀수 없음

print(f"l = {type(l)}, s = {type(s)}")

TypeError: 'str' object does not support item assignment