In [1]:
print("Hello World!")

Hello World!

In [5]:
username1 = "john"
username2 = "jacob"
username3 = "jingle"
username4 = "hymer"
username5 = "schmitt"

print(username1)
print(username2)
print(username3)
print(username4)
print(username5)

for i in range(1,6):
    print(f"username{i}")

john
jacob
jingle
hymer
schmitt
username1
username2
username3
username4
username5

In [ ]:
username1 = "john"
username2 = "jacob"
username3 = "jingle"
username4 = "hymer"
username5 = "schmitt"

print(username1)
print(username2)
print(username3)
print(username4)
print(username5)

for i in range(1,6):
    print(eval(f"username{i}"))

john
jacob
jingle
hymer
schmitt
john
jacob
jingle
hymer
schmitt

"print ('hello world')"

In [7]:
#나의 정리
username1 = "Alice"
username2 = "Bob"

name = "username1"      # 문자열, 즉 "변수 이름"일 뿐임
print(name)              # 출력: username1
print(eval(name))        # 출력: Alice  변수의 변수의 값을 가져오는 개념

username1
Alice

In [ ]:
"print ('hello world')" # "print( 'hello world')"는 그냥 문자열, ""안에 내용은 코드처럼 보이지만 아니라 텍스트!!

# eval("print ('hello world')")

"print ('hello world')"

In [ ]:
# "print ('hello world')"

eval("print ('hello world')")  # eval()은 괄호안의 문자열을 실제 파이썬 코드처럼 실행-즉 "print('hello world')" 라는 문자열을 print('hello world')코드로 바꿔서 실행한거

# does work... but a BIG security hole- 동작실행가능 유연하지만 보안취약점이 있다 예시로 악성코드가 시스템 명령을 실행할수 있어서 
# 예시 eval("p" + "rint"+ "('he" + "llo')")

hello world

In [ ]:
# basic 
usernames = [ "john","jacob","jingle","hymer","scheitt","jill"]
print(usernames)

# for i in range(1,7):  # 영역이 잘못됨, 리스트에서 영역 0~4임, index값을 가짐0부터, 그러나 range는 1~5를 나타냄
#    print(usernames[i])

# "5" is a "magic number"
for i in range(5):
    print(usernames[i])

['john', 'jacob', 'jingle', 'hymer', 'scheitt', 'jill']
john
jacob
jingle
hymer
scheitt
jill

In [19]:
# how many items are in the list?
usernames = [ "john","jacob","jingle","hymer","scheitt","jill","joe"]
len(usernames)

7

In [ ]:
# iterating through list
usernames = [ "john","jacob","jingle","hymer","scheitt","jill"]

# one way
for i in range(len(usernames)):   # 좀더 효율적으로 하는 방법 설명전
    print(usernames[i])

for username in usernames:        # 좀 더 쉽고 효율적, a list specific way shorter and easier to read/use
    print(username)

john
jacob
jingle
hymer
scheitt
jill
john
jacob
jingle
hymer
scheitt
jill

In [23]:
usernames = [ "john","jacob","jingle","hymer","scheitt","jill"]

i = 0
while (i < len(usernames)):
    print(usernames[i])
    i += 1

john
jacob
jingle
hymer
scheitt
jill

In [27]:
# 모니카 질문- for 문 안에서 어떻게 i가 range의 값들과 연될되는 
# 선생님 설명 예시
for i in range(6):
    print(i)

numbers = [ 0,1,2,3,4,5]
for i in numbers:
    print(i)

for number in numbers:
    print(number)

# range(n)은 0부터 n-1까지의 연속된 숫자 생성, for i in range(n)은 range에서 숫자를 하나씩 꺼내서 i에 담고 반복,
# [0,1,2,3,4,5] range(6)와 같은 결과(단, 리스트는 메모리에 실제로 저장됨), 둘다 0에서 5까지 순서대로 반복함

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5

In [ ]:
grades = [12,56,27,78,42,59]
for grade in grades:    # for grade in range grades: 라고 쓰지 않기 range의  의미는 이미 포함되어있어서
    print(grade)

12
56
27
78
42
59

In [ ]:
grades = ["12","56","27","78","42","59"]
for grade in grades:    
    print(grade)             #list에서 ""로 문자열로 되어있지만 숫자처럼 사용가능

12
56
27
78
42
59

In [34]:
# a list can consist of anything
items = [2, 2.21, "number", True, 1 < 4, [1,2,3]]
items

[2, 2.21, 'number', True, True, [1, 2, 3]]

In [ ]:
# what if I don't know what the items are? 입력을 계속 받아 리스트에 저장하는 프로그램
data = [0,0,0,0,0,0,0,0,0,0,0]
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1

print(data)

['34', '12', '56', '78', '100', '0', '0', '0', '0', '0', 0]

In [40]:
data = [0,0,0,0,0]    # 만약에 5자리밖에 없는데 6개를 입력하면 오류가 남
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1

print(data)

IndexError: list assignment index out of range

In [ ]:
data = [0,0,0,0,0]    # 만약에 5자리밖에 없는데 6개를 입력하면 오류가 남
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1
    if i >= 5:
        break      # brak를 걸어준다

print(data)

['1', '2', '3', '4', '5']

In [ ]:

data = [0] * 100  # 복제연산자 사용 케이스
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1
    if i >=len(data):
        break    

print(data)

['1', '2', '3', '4', '5', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [44]:
# creat a list of known size, but not known values
data = [0] * 10
data

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# code a list with the values  1 through 10
values = [0] * 10   # 0이 10개 들어있는 리스트생성
for i in range(1, 11):   # 1부터 10까지 반복
    values[i-1]= i       # i번째 숫자를 리스트의 (i-1) 위치에 저장
values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# 위에 식을 좀더 간결히
values = list(range(1,11))
values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
# creat a list with the values 2 through 20 by 2s
values = list(range(2,21,2))
values

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# fill an empty list
empty =[]    # 빈 리스트 생성
for i in range(5):   # 0부터 4까지 반복
    empty.insert(0,i) #각 i값을 리스트 맨 앞(0번째)에 삽입- 그래서 숫자가 거꾸로 나옴 -특정자리에 넣어라: insert
empty.insert(0, "first")  # 'first'를 맨 앞에 삽입
empty.insert(1, "second") #'second'를 인덱스 1에 위치에 삽입
empty

['first', 'second', 4, 3, 2, 1, 0]

In [ ]:
# append to a list - 리스트에 값을 순서대로 추가하는 방법 끝에 추가함
empty =[]
empty.append("first")
empty.append("second")
empty.append("third")
empty

['first', 'second', 'third']