In [1]:
# basic while loop
num = 10
while num == 10:
    print("looping...")
    num = num + 1 #need to modify num to keep from being on infinite loop

looping...

In [2]:
# an infinite loop (" don't do this!)
# while True:
#    print("looping...") example looping.... 루프가 계속 반복되고 restart 커넬해야 한다.

In [3]:
# infinite loops can be tricky
num = 10
while num > 0: # what if this was a less than?
    print(f"looping.... {num}")
    num = num -1  # what if this was a plus sign?

looping.... 10
looping.... 9
looping.... 8
looping.... 7
looping.... 6
looping.... 5
looping.... 4
looping.... 3
looping.... 2
looping.... 1

In [2]:
# break statement
i = 0 
while i < 10:
    # perform some actions
    print(f"looping...{i}")
    
    if i == 3:
        break   #will exit the loop when i is 3

    i = i + 1

looping...0
looping...1
looping...2
looping...3

In [6]:
# do .. while
count = 0
while True:
    # get password from user
    password = input("Enter password: ")

    # check password
    if password == "password":
        print("You're IN!")
        break

    if count >= 2:
        print("Password check failed.")
        break

    count = count + 1

Enter password:  hello
Enter password:  goodbye
Enter password:  penguin

Password check failed.

In [7]:
# do .. while
count = 0
while True:
    # get password from user
    password = input("Enter password: ")

    # check password
    if password == "password":
        print("You're IN!")
        break

    if count >= 2:
        print("Password check failed.")
        break

    count = count + 1

Enter password:  password

You're IN!

In [9]:
# an example of a sentinel value

# calculate the average of some numbers
count = 0
sum = 0


while True:

    number = input("Enter a number (-1 to exit): ") #  -1 is the sentinel value

    if number == "-1":
        break

    sum += int(number)
    count += 1

print(f"Average: {sum / count}")

Enter a number (-1 to exit):  10
Enter a number (-1 to exit):  20
Enter a number (-1 to exit):  30
Enter a number (-1 to exit):  -1

Average: 20.0

In [11]:
# Assume  you deposit  $100 a month in the bank
# and the bank gives you 2% interest compounded monthly,
# how much would you have at the end of 12 months?

balance = 0

month = 1 # start in January

while month < 12:
    interest = balance * 0.02
    balance += interest
    # $100 deposit
    balance += 100
    
    print(f"Month {month}: balance = {balance}, interest = {interest}")
    month += 1

Month 1: balance = 100.0, interest = 0.0
Month 2: balance = 202.0, interest = 2.0
Month 3: balance = 306.03999999999996, interest = 4.04
Month 4: balance = 412.16079999999994, interest = 6.120799999999999
Month 5: balance = 520.404016, interest = 8.243215999999999
Month 6: balance = 630.8120963199999, interest = 10.40808032
Month 7: balance = 743.4283382463999, interest = 12.616241926399999
Month 8: balance = 858.2969050113279, interest = 14.868566764927998
Month 9: balance = 975.4628431115544, interest = 17.16593810022656
Month 10: balance = 1094.9720999737856, interest = 19.50925686223109
Month 11: balance = 1216.8715419732614, interest = 21.899441999475712

In [12]:
# Assume  you deposit  $100 a month in the bank
# and the bank gives you 2% interest compounded monthly,
# how much would you have at the end of 12 months?

balance = 0

month = 1 # start in January

while month <= 13:
    interest = balance * 0.02
    balance += interest
    # $100 deposit
    balance += 100
    
    print(f"Month {month}: balance = ${balance:.2f}, interest = ${interest:.2f}")
    month += 1

Month 1: balance = $100.00, interest = $0.00
Month 2: balance = $202.00, interest = $2.00
Month 3: balance = $306.04, interest = $4.04
Month 4: balance = $412.16, interest = $6.12
Month 5: balance = $520.40, interest = $8.24
Month 6: balance = $630.81, interest = $10.41
Month 7: balance = $743.43, interest = $12.62
Month 8: balance = $858.30, interest = $14.87
Month 9: balance = $975.46, interest = $17.17
Month 10: balance = $1094.97, interest = $19.51
Month 11: balance = $1216.87, interest = $21.90
Month 12: balance = $1341.21, interest = $24.34
Month 13: balance = $1468.03, interest = $26.82

In [14]:
# Assume  you deposit  $100 a month in the bank
# and the bank gives you 2% interest compounded monthly,
# how much would you have at the end of 12 months?

balance = 0

month = 1 # start in January

while month <= 12:
    interest = balance * 0.02
    balance += interest
    # $100 deposit
    balance += 100
    
    # print(f"Month {month}: balance = ${balance:.2f}, interest = ${interest:.2f}")
    month += 1

print(f"End of year balance: ${balance:.2f}")

End of year balance: $1341.21

In [15]:
# for loop
for month in range (12):
    print(f"month = {month}")

month = 0
month = 1
month = 2
month = 3
month = 4
month = 5
month = 6
month = 7
month = 8
month = 9
month = 10
month = 11

In [17]:
# for loop
for month in range (12):
    print(f"month = {month+ 1}")

month = 1
month = 2
month = 3
month = 4
month = 5
month = 6
month = 7
month = 8
month = 9
month = 10
month = 11
month = 12

In [18]:
# ranges
range(12)

range(0, 12)

In [20]:
# for loop
for month in range (1, 13):
    print(f"month = {month}")

month = 1
month = 2
month = 3
month = 4
month = 5
month = 6
month = 7
month = 8
month = 9
month = 10
month = 11
month = 12

In [21]:
for i in range (2, 35, 3):
    print(i)

2
5
8
11
14
17
20
23
26
29
32

In [22]:
for i in range(20, 10, -2):
    print(i)

20
18
16
14
12

In [23]:
# nested loops
i = 0
while i < 10:
    j = 0
    while j < 5:
        print(f"i={i}, j={j}")
        j = j + 1
    i = i + 1

i=0, j=0
i=0, j=1
i=0, j=2
i=0, j=3
i=0, j=4
i=1, j=0
i=1, j=1
i=1, j=2
i=1, j=3
i=1, j=4
i=2, j=0
i=2, j=1
i=2, j=2
i=2, j=3
i=2, j=4
i=3, j=0
i=3, j=1
i=3, j=2
i=3, j=3
i=3, j=4
i=4, j=0
i=4, j=1
i=4, j=2
i=4, j=3
i=4, j=4
i=5, j=0
i=5, j=1
i=5, j=2
i=5, j=3
i=5, j=4
i=6, j=0
i=6, j=1
i=6, j=2
i=6, j=3
i=6, j=4
i=7, j=0
i=7, j=1
i=7, j=2
i=7, j=3
i=7, j=4
i=8, j=0
i=8, j=1
i=8, j=2
i=8, j=3
i=8, j=4
i=9, j=0
i=9, j=1
i=9, j=2
i=9, j=3
i=9, j=4

In [29]:
# draw a triangle

# 0
# 00
# 000
# 0000
# 00000
# 000000

for line in range(1,7):
    print("o")

o
o
o
o
o
o

In [28]:
# draw a triangle

# 0
# 00
# 000
# 0000
# 00000
# 000000

for line in range(1,7):
    for ohs in range(line):
        print("o", end="")
    print()

o
oo
ooo
oooo
ooooo
oooooo

In [32]:
# draw a triangle

#      0
#     00
#    000
#   0000
#  00000
# 000000

for line in range(1,7):
    for spaces in range(6-line):
        print(" ", end="")
    for ohs in range(line):
        print("o", end="")
    print()

     o
    oo
   ooo
  oooo
 ooooo
oooooo

In [3]:
for line in range(1,7):
    print(" " * (6-line), end="")

    print("o" * line, end="")

    print()

     o
    oo
   ooo
  oooo
 ooooo
oooooo

In [4]:
for line in range(1,7):
    print(" " * (6-line), end="")

    print("o" * line)

     o
    oo
   ooo
  oooo
 ooooo
oooooo

In [5]:
for line in range(1,7):
    print(" " * (6-line) + "o" * line)

     o
    oo
   ooo
  oooo
 ooooo
oooooo