In [3]:
str = "apple"

str

'apple'

In [ ]:
str = "apple"
# can access like an array
str [0]   # 인덱싱- 자리로 부터 문자를 가져옴

'a'

In [ ]:
str = "apple"
# can access like an array

str[0:2]  # 슬라이싱, 시작인덱스는 포함하고 끝인덱스틑 포함하지 않음

'ap'

In [ ]:
str = "apple"

str[-1]   # 음수인덱싱, 뒤에서는 0이 아닌 -1부터 시작한다.

'e'

In [ ]:
str = "apple"
# can access like an array

str[-1:-3:-1]   # 시작인댁스:-1, 끝인덱스:-3, 방향: -1: 뒤에서부터 읽는다

'el'

In [ ]:
str = "apple"
# can access like an array

str[::-1]   # [시작:끝:간격]-문자열 전체를 거꾸로 한 글자씩 읽어라

'elppa'

In [9]:
str = "banana"

# can iterate through like an array
len(str)

6

In [10]:
str = "banana"

# can iterate through like an array
for i in range(len(str)):
    print(str[i])

b
a
n
a
n
a

In [ ]:
str = "banana"

# can iterate through like an array
for i in range(len(str)):   #len(str)은 6, range(6)= [0,1,2,3,4,5], str[i]가 0부터 5까지 반복, 원래는 세로로 하나씩나오는데 end=""때문에 줄을 붙여줌(줄바꿈없이 공백한칸씩 띄워서)
    print(str[i], end = " ")

b a n a n a

In [ ]:
str = "banana"

# can iterate through like an array
for i in range(len(str)):
    print(str[i], end = " ")

for ch in str:     # 문자열은 iterable(반복가능한 객체)라서 한글자씩 자동으로 반복됨, 위에 코드한번 실행되고 지금 이 코드도 실행된 결과
    print(ch, end=" ")

b a n a n a b a n a n a

In [ ]:
str = "banana"

# can iterate through like an array
for i in range(len(str)):
    print(str[i], end = " ")

print()         # 줄바꿈을 위해서 한번 실행하고 

for ch in str:     # 여기서 새로운 변수이름 ch는 위에 str 안에 문자를 하나씩 꺼내서 다시 ch에 넣고 반복한다의미
    print(ch, end=" ")

b a n a n a
b a n a n a

In [ ]:
str = "banana"

# can iterate through like an array
for i in range(len(str)):
    print(str[i], end = " ")
print()
# works like a list
for ch in str:
    print(f"{ch} ({type(ch)})")   # 위에서 코드를 가져 와서 type은 어떤 형식인지 말해주는 문법

b a n a n a
b (<class 'str'>)
a (<class 'str'>)
n (<class 'str'>)
a (<class 'str'>)
n (<class 'str'>)
a (<class 'str'>)

In [ ]:
str = "banana"

# can iterate through like an array
for i in range(len(str)):
    print(str[i], end = " ")
print()
# works like a list
for ch in str:
    print(f"{ch} ({type(ch)})")
print("-" * 3)
# can also be a list
for ch in list(str):     # 문자열을 리스트로 바꿔도 결국 내부의 각 원소는 여전히 문자열(str)타입이다.
    print(f"{ch} ({type(ch)})")   # 파이선의 문자열은 리스트처럼 인덱스로 접근할 수도 있고, for 문으로 반복(iterate) 할 수도 있다,리스트로 변환해도 내부의 각 문자는 여전히 str타입

b a n a n a
b (<class 'str'>)
a (<class 'str'>)
n (<class 'str'>)
a (<class 'str'>)
n (<class 'str'>)
a (<class 'str'>)
---
b (<class 'str'>)
a (<class 'str'>)
n (<class 'str'>)
a (<class 'str'>)
n (<class 'str'>)
a (<class 'str'>)

In [ ]:
fruit = ["apple", "banana", "orange"]

# convert a list to a string
''. join(fruit)   # join은 리스트안의 모든 문자열 요소를 하나의 문자열로 합치되 그 사이사이에 separator을 넣어주는 함수

'applebananaorange'

In [16]:
fruit = ["apple", "banana", "orange"]

# convert a list to a string
'-'. join(fruit)

'apple-banana-orange'

In [17]:
fruit = ["apple", "banana", "orange"]

# convert a list to a string
'**'. join(fruit)

'apple**banana**orange'

In [ ]:
fruit = ["apple", "banana", "orange"]

# convert a list to a string
# '**'. join(fruit) # ' ', '-' can be joined by any string
# great for exporting data in different formats
"\t".join(fruit)    # 표현식 내부값표시

'apple\tbanana\torange'

In [ ]:
fruit = ["apple", "banana", "orange"]

# convert a list to a string
# '**'. join(fruit) # ' ', '-' can be joined by any string
# great for exporting data in different formats
print("\t".join(fruit))  # 위의 식은 같지만 보여지는 방식이 차이가 난다

apple	banana	orange

In [ ]:
str = "123,456,789"

# convert the string to a list (importing)
str.split(',')    # split()은 특정 seperator기준으로 잘라서 리스트로 바꾸눈 함수

['123', '456', '789']

In [ ]:
str = "123,456,789,,,,,,,,,2346zxvcb,,awssfdfg,,,adf"

# convert the string to a list (importing)
str.split(',',3)   # 몇 번까지만 자를지 정한다 ,기준으로 최대 3번까지만 나눔: 3번만 자르고 나머지는 그대로 남음

['123', '456', '789', ',,,,,,,,2346zxvcb,,awssfdfg,,,adf']

In [23]:
data = "SunMonTueWedThuFriSat"

#"the algorithm" is that they are 3 letters
data [0:3]

'Sun'

In [ ]:
data = "SunMonTueWedThuFriSat"

#"the algorithm" is that they are 3 letters

for i in range(0,len(data),3):  # len(data)문자열길이21, range(0,len(data),3)= range(0,21,3), 0부터 21전까지 3씩 증가하면서 반복
    print(data[i:i+3])   # 문자열을 3글자 단위로 슬라이싱 문법

Sun
Mon
Tue
Wed
Thu
Fri
Sat

In [26]:
data = "SunMonTueWedThuFriSat"

#"the algorithm" is that they are 3 letters
days = []  # 빈리스트 생성
for i in range(0,len(data),3):  # 3칸식증가하면서 반복
    days.append(data[i:i+3]) # Sun, Mon.... append:잘라낸 문자열을 리스트에 추가
days

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [29]:
# miscellaneous stuff
letter = "a"

if letter >= "a" and letter <= "z" :
    print("letter")

letter

In [ ]:
# miscellaneous stuff
letter = "a"

if letter >= "a" and letter <= "z" :
    print("letter")

letter.isalpha()   # 문자열이 알파벳인지 확인하는 내장 메서드

letter

True

In [31]:
# miscellaneous stuff
letter = "a"

if letter >= "a" and letter <= "z" :
    print("letter")

if letter.isalpha():
    print("letter")

letter
letter

In [ ]:
# miscellaneous stuff
letter = "A"

if letter >= "a" and letter <= "z" or letter >= "A" and letter <= "Z":
    print("letter")
else:
    print("not a letter")

if letter.isalpha():
    print("letter")

not a letter
letter

In [32]:
word = "Hello"

word.lower()

'hello'

In [30]:
word = "Hello"

word.lower()
word.upper()

'HELLO'